<select class="form-control" name="{{ field_type.getInputName() }}">

    {% for value, option in field_type.options %}
        <option value="{{ value }}" {{ value == field_type.key ? 'selected' }}>{{ trans(option) }}</option>
    {% endfor %}

</select>
