.select2 {
    width: 100% !important;
}

.select2-override {
    height: calc(2.5rem - 2px) !important;
    border: 1px solid rgba(0, 0, 0, .15) !important;
    border-radius: 0.17rem !important;
}

.select2-option-override {
    padding: 0 !important;
    margin: 0 !important;
}

.select2-container {
    height: auto !important;
}

.select2-container--open {
    .select2-override {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

.select2-search__field {
    border: 1px solid $input-border-color !important;
}

.select2-results__option--highlighted {
    background-color: $gray-dark !important;
}

.select2-selection {
    padding-top: 0;
    padding-bottom: 0;
}

.select2-selection__arrow {
    display: none;
}

.select2-selection__rendered {
    height: 100% !important;
    line-height: 36px !important;
}

.select2-dropdown {
    border-color: $input-border-color;
}
